body{
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
  min-width:1340px;
  min-height: 1300px;
  margin: 10px;
  font-weight: bold;
}

ul{
  list-style: none;
  width: 300px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  color: #59666C;
  margin: 8px;
}

ol{
  list-style: none;
  width: 400px;
  /*display: inline-block;*/
  padding: 4px;
}

li{
  padding: 15px;
  border: 1px solid #DFDFDF;
  background-color: #F7F7F7;
}

h3{
  color: #1E1E1E;
}


div.Header a{
text-decoration: none;
color: #8E8E8E;
margin:15px;
font-weight: bold;
}

div.Header a:hover{
  color: #626262;
}


.homeTree{
position: relative;
min-height: 400px;
min-width: 1320px;
overflow: hidden;
margin: 10px;
}

img.homeTreePic{
  max-width: 100%;
  position: absolute;
}
div.treeTextOne{
  z-index: 2;
  color: #FEFEFD;
  font-size: 60px;
  position: absolute;
  top: 148px;
  left: 497px;
  text-shadow: 0 2px 2px black;
}
div.treeTextTwo{
  z-index: 2;
  color: #FEFEFD;
  font-size: 60px;
  position: absolute;
  top: 216px;
  left: 432px;
  text-shadow: 0 2px 2px black;
}

div.3columns{
  position: relative;
}

ul.topOne{
  position: absolute;
  top: 469px;
  left: 162px;
}
ul.topTwo{
  position: absolute;
  top: 469px;
  left: 479px;
}
ul.topThree{
  position: absolute;
  top: 469px;
  left: 796px;
}
ul.threeColumnOne{
  position: absolute;
  top: 662px;
  left: 162px;
}
ul.threeColumnTwo{
  position: absolute;
  top: 662px;
  left: 479px;
}
ul.threeColumnThree{
  position: absolute;
  top: 662px;
  left: 796px;
}

li.useType1{
  color: white;
  border-bottom: 0;
  background-color: #4F934E;
}
li.money1{
  color: white;
  border-top: 0;
  border-bottom: 0;
  font-size: 100px;
  font-weight: lighter;
  padding: 0;
  background-color: #4F934E;
}
li.month1{
  color: #A5C8A5;
  border-top: 0;
  font-weight: bold;
  background-color: #4F934E;
}
li.useType2{
  color: white;
  border-bottom: 0;
  background-color: #2A4787;
}
li.money2{
  color: white;
  border-top: 0;
  border-bottom: 0;
  font-size: 100px;
  font-weight: lighter;
  padding: 0;
  background-color: #2A4787;
}
li.month2{
  color: #94A2C2;
  border-top: 0;
  background-color: #2A4787;
}
li.useType3{
  color: white;
  border-bottom: 0;
  background-color: #101010;
}
li.money3{
  color: white;
  border-top: 0;
  border-bottom: 0;
  font-size: 100px;
  font-weight: lighter;
  padding: 0;
  background-color: #101010;
}
li.month3{
  color: #868686;
  border-top: 0;
  background-color: #101010;
}
li.choose{
  color: black;
  background-color: transparent;
}
button{
  border-radius: 25px;
  background-color: transparent;
  padding: 3px;
}

div.2columns{
  position: relative;
}
ol.twoColumnOne{
  position: absolute;
  top: 1049px;
  left: 248px;
}
ol.twoColumnTwo{
  position: absolute;
  top: 1049px;
  left: 658px;
}

li.bodyText{
  color: #5D6A6F;
  background-color: transparent;
  border: 0;
}

div.Bottom{
  text-align: center;
  border:2px solid black;
  background-color: #101010;
  color: #878787;
  font-weight: bold;
  position: relative;
  top: 1031px;
  left: 5px;
}

div.Bottom a{
  color: #DADADA;
}