body{
  font-family: 'Josefin Sans', sans-serif;
}

ul{
  list-style: none;
}

div.image{
  background-image: url(images/background.jpg);
  max-width: 100%;
  height: 200px;
}

.3columns{
  display: inline-block;
}